.MyBtn {
  padding: 10px;
  color: green;
  font-size: 9px;
  background: transparent;
  border: 2px solid green;
  cursor: pointer;
  user-select: none;
}

.MyBtnLgn {
  color: orangered;
  font-size: 20px;
  background: transparent;
  border: 3px solid orange;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  height: 70px;
  width: 100px;
  position: absolute;
  left: 800px;
  top: 20px;
}

.MyBtnSgn {
  color: black;
  font-size: 25px;
  background-color: peachpuff;
  border: 3px solid orange;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  height: 70px;
  width: 100px;
  position: absolute;
  left: 930px;
  top: 20px;
}

.UiLoginSubmit {
  color: orangered;
  font-size: 20px;
  background: transparent;
  border: 3px solid orange;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  height: 70px;
  width: 100px;
  position: absolute;
  top: 400px;
  left: 705px;
}

.UiSignSubmit {
  color: orangered;
  font-size: 20px;
  background-color: peachpuff;
  border: 3px solid orange;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  height: 70px;
  width: 100px;
  position: absolute;
  top: 400px;
  left: 705px;
}
