.navbar {
  width: 324px;
  height: 224px;
  border-radius: 21px;
  background-color: #ffe3c1;
  position: relative;
  top: 0px;
  user-select: none;
}

.scrolling {
  width: 1570px;
  height: 1070px;
  background-color: #ffe3c1;
  position: relative;
  left: 334px;
  bottom: 1060px;
  border-radius: 21px;
}

.playlist {
  width: 324px;
  height: 836px;
  border-radius: 21px;
  background-color: #ffe3c1;
  position: relative;
  top: 10px;
}

.app {
  height: 1080px;
  width: 1920px;
}

.logo {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 13px;
  top: 10px;
  user-select: none;
}

.options {
  width: 1570px;
  height: 112px;
  border-radius: 21px 21px 0px 0px;
  background: rgba(206, 179, 145, 0.7);
  position: absolute;
  bottom: 970px;
  left: 334px;
}

.searchbar {
  border-radius: 30px;
  font-size: 60px;
  background-image: url(search.png);
  background-repeat: no-repeat;
  text-indent: 100px;
  border-color: orange;
  position: relative;
  left: 40px;
  top: 20px;
  width: 550px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  user-select: none;
}

.textt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  position: absolute;
  top: 20px;
  left: 40px;
  user-select: none;
}

.logintext {
  position: absolute;
  top: 483px;
  left: 640px;
  user-select: none;
}

.signtext {
  position: absolute;
  top: 483px;
  left: 640px;
  user-select: none;
}

.app {
  width: 1920px;
  height: 1080px;
}

.nickname {
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  bottom: -37px;
  left: 520px;
}

.rolldown {
  position: absolute;
  top: 110px;
}

.rolldown {
  width: 1000px;
  background: transparent;
  border: 50px;
  border-color: red;
  position: absolute;
  left: 80px;
  cursor: pointer;
}

.card {
  margin: 10px;
  background-color: rgba(240, 179, 145, 0.7);
  padding: 20px;
  border-radius: 7px;
}

.author,
.musicname,
.year {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  /* display: flex;
  align-items: center; */
  position: relative;
  top: 0px;

  text-align: center;
}

.warning {
  position: absolute;
  top: 800px;
}

.outercard {
  margin: 20px;
  background-color: peachpuff;
  padding: 20px;

  top: 100px;
  border-radius: 10px;
}

.textts {
  color: gray;
  stroke: 1px black;
  position: absolute;
  font-size: 27px;
}

.details {
  background-color: peachpuff;
  /* display: flex; */
  justify-content: center;
  width: 800px;
  height: 310px;
  position: absolute;
  left: 370px;
}

.Route {
  user-select: none;
}

.author {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  position: relative;
  top: 20px;
  color: red;
}

.year {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  position: relative;
  top: 20px;
  color: red;
}

.outercom {
  background-color: white;
  width: 800px;
  padding: 5px;
  border: 1px;
  border-radius: 5px;
}

.innercom {
  background-color: bisque;
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
}

.comments {
  position: absolute;
  top: 400px;
  left: 365px;
}

.cover {
  border-radius: 90px;
  position: relative;
  left: 325px;
  top: 30px;
}

.nick {
  font-size: 19px;
}

.commenttext {
  margin-top: 20px;
}

.stars {
  display: flex;
  position: absolute;
  top: 326px;
  left: 540px;
}

.fa-star {
  font-size: 60px;
  margin-left: 15px;
  margin-left: 15px;
  cursor: pointer;
  color: yellow;
}
