.navbar {
  width: 324px;
  height: 224px;
  border-radius: 21px;
  background-color: #ffe3c1;
  position: relative;
  top: 0px;
  user-select: none;
}

.scrolling {
  width: 1570px;
  height: 1070px;
  background-color: #ffe3c1;
  position: relative;
  left: 334px;
  bottom: 1060px;
  border-radius: 21px;
}

.playlist {
  width: 324px;
  height: 836px;
  border-radius: 21px;
  background-color: #ffe3c1;
  position: relative;
  top: 10px;
}

.app {
  height: 1080px;
  width: 1920px;
}

.logo {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 13px;
  top: 10px;
  user-select: none;
}
